/* Styling of right table with latest bought and last arrival items*/
.containerlastsold {
    max-width: 250px;
    max-height: 600px;
    border: solid 3px #337ab7;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 65px;
}

.footer ul {
    list-style-type: none;
    padding:0;
}
/*Affix plugin allows an element to become affixed (locked) to an area on the page.*/
.affix {
    top: 20px;
}

/*Caousel(slide show)*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 65%;
    margin: auto;
}

.panel {
    border: none;
}






    
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
.col-sm-4.item.social {
    text-align: center;
    margin-top: 10px;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 330px;
}
span.copyright {
    text-align: center;
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 330px;
    background-color: black;
    color: #eaeaea;
    margin-top:10px !important;
}
@media screen and (max-width: 725px) {
    body
    {
        margin-bottom: 0;
    }
    .footer  {
        height: auto; 
        position: static;
    }
}
@media screen and (min-width: 1024px) {
    body
    {
        margin-bottom: 220px;
    }
    .footer  {
        height: 220px;
        position:absolute;
    }
}


.copyright {
    margin-bottom: 0;
}

.container-fluid.text-center > .container {
margin-top:10px;
}


.navbar {
margin-bottom:10px;
}


/* BELOW IS CSS FROM CART.HTML*/

  /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            
        }

        /* Add a gray background color and some padding to the footer */

        .footer {
            background-color: black;
            padding: 25px;
            color: #fff;
            width: 100%;
        }

        /*Caousel(slide show)*/
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 50%;
            margin: auto;
        }


               /* BELOW IS CSS FROM CONTACT.HTML */

        /* Add a gray background color and some padding to the footer */


        h1, h2 {
            color: black;
        }

        .dropdown, .btn btn-default, .form-control {
            margin: 10px;
        }

        .btn-default {
            background-color:#23527c;
            color:white;
            font-size: 16px;
            border-radius: 30px;
            padding: 5px 35px 5px 35px;
            border: none;
        }


        .nav, nav-pills, nav-stacked affix-top {
            position: relative;
        }

         /* BELOW IS CSS FROM DESKTOP.HTML */
     
     .containerlaptops {
    width:100%;
    height:100%;
    border:solid black 1px;
    position:relative;
    font-family:"Arial Black", Gadget, sans-serif;
    margin-bottom:20px;
    }

        .topbox {
            width: 100%;
            height: 100%;
            background-color: lightgrey;
            padding: 1px;
        }

        .boxtext {
            text-align: center;
            position:relative;
            width: 70%;
            height:50%;
            padding-top: 10px;
        }

        .containerlaptops:hover {
            background: whitesmoke;
            cursor: pointer;
        }    

        .carousel-control.left, .carousel-control.right {
    background-image: none
}
        .p.copyright
        {
            margin-bottom:0;
        }

        /* CSS Style for about.html*/
        .wrapper_about {
            margin-top: 0;
            position: relative;
            float: right;
        }

            .wrapper_about img {
                display: block;
                max-width: 100%;
                opacity: 0.9;
            }

            .wrapper_about .overlay {
                margin-top: 35%;
                text-align: right;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                color: white;
                font-size: 48px;
                padding-right: 40px;
            }

        .person {
            margin-left: 5px;
        }

        .well {
        background-color: rgba(50, 153, 158, 0.12);
    }

                 /* Hiding grey bottomnav in carousel/slideshow */

        .carousel-indicators {
            display:none;
        }
        }
div#myNavbar {
display:none;
}

.navbar
{
    height: auto;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,800,800i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto:300,400,500,700,900');

   /* Making right list responsive on group.html */
@media only screen and (max-width: 995px) {
    .containerlastsold {
         width:290px!important;
         height:330px!important;
         flex-direction: column!important;
         justify-content: center!important;
         
    }
}

.addmarginbtm
{
    margin-bottom: 10px;
}
ul.nav.nav-pills.nav-stacked.affix-top li {
    text-align: center;
}
@media only screen and (max-width: 400px) {
    .dropdown-toggle {
        display: static;
    }
}
}

#container{
    width: auto;
}
.navbar-inverse .navbar-nav>li>a
{
    color:#e6e4e4;
}
.newsheader{
    font-family: 'Open Sans', Arial;
}